<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./img/Ilustração_Sem_Título1.png" type="image/png" />
    <title>Edutech 3.0</title>
    <link rel="stylesheet" href="./css/reset.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <link rel="stylesheet" href="./css/style.css">
</head>

<!--Início Navbar-->

<body>
    <header>
        <nav class="navbar navbar-expand-lg fixed-top" style="background-color:#000080">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><img class="" src="./img/logo.png"
                        alt="Logomarca"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon d-flex justify-content-center align-items-center"><i
                            class="bi bi-list"></i></span>
                </button>
                <section class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Trilhas de capacitação
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="./infantil">Infantil</a>
                                </li>
                                <li><a class="dropdown-item" href="../fundamentalI">Fundamental
                                        I</a></li>
                                <li><a class="dropdown-item" href="./fundamentalII">Fundamental
                                        II</a></li>
                                <li><a class="dropdown-item" href="./medio">Médio</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Edutech3.0
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="./sobre">Sobre nós</a>
                                </li>
                                <li><a class="dropdown-item" href="#">Instituições
                                        parceiras</a></li>
                                <li><a class="dropdown-item" href="https://www.gov.br/mec/pt-br">Notícias</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Fale conosco
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="./cadastro/cadastrar">Cadastre-se</a></li>
                                <li><a class="dropdown-item" href="./material/cadastrar">Compartilhe sua
                                        ideia</a>
                                </li>
                                <li><a class="dropdown-item" href="./contato/cadastrar">Contato</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Adm
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="./cadastro">Listar Usuarios</a></li>
                                <li><a class="dropdown-item" href="./permissao">Listar Permissões</a></li>
                                <li><a class="dropdown-item" href="./contato">Listar Contatos</a></li>
                                <li><a class="dropdown-item" href="./material">Listar Material</a></li>
                            </ul>
                        </li>
                    </ul>
                </section>
                <div class="d-flex justify-content-end align-items-center mb-3">
                    <a href="./login"> <button type="submit" class="btn botao">ENTRAR</button></a>
                </div>
            </div>
        </nav>
    </header>
    <!--Fim Navbar-->
    <main>
        <!--Banner-->
        <div class="fade-in" style="background-color: #000080;">
            <a href="./index.html"><img class="banner-index" src="./img/bannerEdu.jfif" alt=""></a>
        </div>
        <!--Banner-->

        <div class="container" align="center">
            <h2 class="fonte-titulo mt-5">O que é Edutech 3.0?</h2>
            <hr>
            <p align="justify">
                O Edutech 3.0 é uma plataforma de conteúdos e tendências sobre inovações na área educacional. Nosso
                propósito é inserir a tecnologia na sala de aula para que ela se torne uma facilitadora no processo
                ensino-aprendizagem.
                Nossas trilhas e materiais foram selecionados e desenvolvidos em parceria com
                especialistas
                voluntários e da própria plataforma e são disponibilizados de forma gratuita. Venha fazer parte desta
                revolução tecnológica nas salas de aula de todo o mundo!
            </p>
        </div>

        <!--Banner-->
        <div class="fade-in">
            <img class="banner-trilha" src="./img/inovacaotec.jpeg" alt="">
        </div>
        <div class="card-body" Style=margin-left:40vw;>
            <a href="./Pages/login.html" class="botao">Comece agora!</a>
        </div>
        <div>
            <br>
            <br>
            <!--Banner-->

            <!--Carousel trilhas-->
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="10000">
                        <img height="400vh" src="./img/trilhas.jpeg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item" data-bs-interval="2000">
                        <img height="400vh" src="./img/trilhaSala.jfif" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img height="400vh" src="./img/cursosOnline.jfif" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <!--Carousel trilhas-->

            <!--Carousel Vídeos-->
            <h2 class="fonte-titulo mt-5">Vídeos educativos</h2>
            <hr>
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/c1CCV1EYOX8"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="carousel-item">
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/jp0EMR1_07s"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                    <div class="carousel-item">
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/fCyojmJn1lQ"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <!--Carousel Vídeos-->


            <!--lista de notícias-->
            <div class="container">
                <h2 class="fonte-titulo mt-5">Notícias</h2>
                <hr>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="https://minhabiblioteca.com.br/blog/tecnologia-na-educacao/">Os
                            desafios e os benefícios
                            da tecnologia na educação</a></li>
                    <li class="list-group-item"><a
                            href="https://codebit.com.br/blog/tecnologia-educacao-vantagens-desafios">Tecnologia na
                            educação: o impacto, as vantagens e os desafios</a></li>
                    <li class="list-group-item"><a
                            href="https://educacao.imaginie.com.br/o-papel-da-tecnologia-na-educacao/">Qual o
                            papel da
                            tecnologia na educação e por que ela é tão importante nas escolas?</a></li>
                    <li class="list-group-item"><a
                            href="https://minhabiblioteca.com.br/blog/professores-no-ensino-hibrido/">Novos
                            conhecimentos
                            são requisitados para os professores no ensino híbrido</a></li>
                    <li class="list-group-item"><a
                            href="https://educacaopublica.cecierj.edu.br/artigos/21/28/ensino-remoto-o-desafio-na-pratica-docente-frente-ao-contexto-da-pandemia">Ensino
                            remoto: o desafio na prática docente frente ao contexto da pandemia</a></li>
                </ul>
            </div>
            <br>
            <!--Carousel Enviar Materiais-->
            <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <a href="./Pages/enviarMaterial.html">
                        <div class="carousel-item active">
                            <img height="400vh" src="./img/envie.jpeg" class="d-block w-100" alt="...">
                    </a>
                </div>
                <div class="carousel-item">
                    <a href="./Pages/contato.html">
                        <div class="carousel-item active">
                            <img height="400vh" src="./img/escola.jpeg" class="d-block w-100" alt="...">
                    </a>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Próximo</span>
        </button>
        </div>
        <!--Carousel Enviar Materiais-->






        <!--lista de cursos-->
        <div class="container">
            <h2 class="fonte-titulo mt-5">Cursos gratuitos</h2>
            <hr>
            <section class="row">
                <article class="col-sm-6 mb-4">
                    <div class="card border-color">
                        <div class="card-body">
                            <h5 class="card-title">Avaliação formativa: gamificação e autoavaliação</h5>
                            <p class="card-text">Este curso traz informações sobre a avaliação
                                diagnóstica para diferenciar a aprendizagem, o uso da rubrica e da autoavaliação, como
                                os recursos digitais, jogos, gamificação, agrupamentos produtivos e outras estratégias
                                para ajudar o professor a
                                mapear o desenvolvimento da turma e de cada aluno.</p>
                            <a href="https://profseducacao.com.br/curso/metodologias-ativas-avaliacao-formativa-gamificacao-e-autoavaliacao/"
                                target="_blank" class="btn botao">Inscreva-se!</a>
                        </div>
                    </div>
                </article>
                <article class="col-sm-6">
                    <div class="card border-color">
                        <div class="card-body">
                            <h5 class="card-title">Defasagem de aprendizagem nos anos finais do Ensino Fundamental:
                                (re)planejar para avançar</h5>
                            <p class="card-text">Neste curso serão vivenciados conceitos e aspectos centrais da
                                recomposição de aprendizagens nos anos finais do Ensino Fundamental considerando o
                                delicado e singular momento atual da educação. </p>
                            <a href="https://cursos.novaescola.org.br/curso/11996/defasagem-de-aprendizagem-nos-anos-iniciais-do-ensino-fundamental-re-planejar-para-avancar/resumo"
                                class="btn botao">Inscreva-se!</a>
                        </div>
                    </div>
                </article>
                <article class="col-sm-6">
                    <div class="card border-color">
                        <div class="card-body">
                            <h5 class="card-title">Por dentro da solução de Educação Financeira – Tindin</h5>
                            <p class="card-text">O curso tem por objetivo explicar a modalidade Educação Financeira e
                                abordar as principais características da solução Tindin presente na Plurall Store que se
                                encaixa nessa modalidade. Assim como trazer um tutorial de acesso do ponto de vista do
                                aluno, da família e do professor.</p>
                            <a href="https://profseducacao.com.br/curso/por-dentro-da-solucao-de-educacao-financeira-tindin/"
                                class="btn botao">Inscreva-se!</a>
                        </div>
                    </div>
                </article>
                <article class="col-sm-6">
                    <div class="card h-100 border-color">
                        <div class="card-body">
                            <h5 class="card-title">Mediação de leitura para juventudes</h5>
                            <p class="card-text">Neste curso você aprenderá como mediadores de leitura que interagem com
                                público jovem, em seus
                                múltiplos perfis, podem apresentar e reconhecer a leitura como elemento promotor de
                                cidadania e de reflexão sobre ser no mundo.</p>
                            <a href="https://polo.org.br/multiletramentos/formacao/92/mediacao-de-leitura-para-juventudes"
                                class="btn botao">Inscreva-se!</a>
                        </div>
                    </div>
                </article>
            </section>
        </div>
        <br>
        <br>

        </div>
    </main>
    <!--NEWSLETTER-->
    <hr>
    <div align="center">
        <h3>Assine nossa newsletter e receba um e-book <br>
            com vários jogos para você ultilizar na sala de aula.</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <input type="text" class="form-control" placeholder="Digite seu nome" aria-label="Digite seu nome">
            </div>
            <div class="col-6">
                <input type="email" class="form-control" placeholder="Seu email" aria-label="Digite seu email">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Assinar</button>
            </div>
        </div>
    </div>
    <div>
        <div align="center" font="arial" size="2">
            <p>*Concordo em receber ofertas e compartilhar meus dados com a EDUTECH 3.0</p>
        </div>
    </div>
    <hr>
    <!--NEWSLETTER-->
    <!--Footer-->
    <footer class="bg-footer">
        <div class="container">
            <section class="row section-footer">
                <article class="col-sm d-flex justify-content-center">
                    <a class="navbar-brand" href="/"><img src="./img/img-footer.png"
                            alt="Logomarca"></a>
                </article>
                <article class="col-sm section-footer-article">
                    <ul>
                        <h4>Capacitação</h4>
                        <li><a href="./infantil">Ensino Infantil</a></li>
                        <li><a href="./fundamentalI"> Ensino Fundamental I</a></li>
                        <li><a href="./fundamentalII">Ensino Fundamental II</a></li>
                        <li><a href="./medio">Ensino Médio</a></li>
                    </ul>
                </article>
                <article class="col-sm section-footer-article">
                    <ul>
                        <h4>Edutech 3.0</h4>
                        <li><a href="./sobre">Sobre nós</a></li>
                        <li><a href="#">Instituições Parceiras</a></li>
                        <li><a href="https://www.gov.br/mec/pt-br">Notícias</a></li>
                    </ul>
                </article>
                <article class="col-sm section-footer-article">
                    <ul>
                        <h4>Fale conosco</h4>
                        <li><a href="./cadastro/cadastrar">Cadastre-se</a></li>
                        <li><a href="./contato/cadastrar">Contato</a></li>
                        <li><a href="./material/cadastrar">Compartilhe sua ideia</a></li>
                        <li>
                            <h4>Nossas redes sociais</h4>
                        </li>
                        <a href="#"><i class="bi bi-instagram" id="instagram"></i></a>
                        <a href="#"><i class="bi bi-facebook" id="facebook"></i></a>
                        <a href="#"><i class="bi bi-twitter" id="twitter"></i></a>
                        <a href="#"><i class="bi bi-youtube" id="youtube"></i></a>
                        <a href="#"><i class="bi bi-linkedin" id="linkedin"></i></a>
                    </ul>
                </article>
            </section>
            <hr>
            <div class="d-flex justify-content-center">
                <p id="fonte">&copy; Edutech 3.0 2022 - Todos os direitos reservados. Fotos meramente ilustrativas.</p>
            </div>
        </div>
    </footer>
    <!--Footer-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="./script.js"></script>
</body>

</html>