<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./img/Ilustração_Sem_Título1.png" type="image/png" />
    <title>Edutech 3.0</title>
    <link rel="stylesheet" href="./css/reset.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <link rel="stylesheet" href="./css/style.css">
</head>

<body class="bg-light">
    <header>
        <nav class="navbar navbar-expand-lg fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img class="" src="./img/Ilustração_Sem_Título1.png"
                        alt="Logomarca"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon d-flex justify-content-center align-items-center"><i
                            class="bi bi-list"></i></span>
                </button>
                <section class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Trilhas de capacitação
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Cursos</a></li>
                                <li><a class="dropdown-item" href="./views/infantil/index.html">Infantil</a></li>
                                <li><a class="dropdown-item" href="./views/fund_I/index.html">Fundamental I</a></li>
                                <li><a class="dropdown-item" href="./views/fund_II/index.html">Fundamental II</a></li>
                                <li><a class="dropdown-item" href="./views/medio/index.html">Médio</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Edutech3.0
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="./views/sobreNos/index.html">Sobre nós</a></li>
                                <li><a class="dropdown-item" href="#">Instituições parceiras</a></li>
                                <li><a class="dropdown-item" href="#">Notícias</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Fale conosco
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="./cadastrar">Cadastrar</a></li>
                                <li><a class="dropdown-item" href="./cadastro">Listar cadastros</a></li>
                                <li><a class="dropdown-item" href="./views/enviarMaterial/index.html">Compartilhe sua ideia</a></li>
                                <li><a class="dropdown-item" href="./views/contato/index.html">Contato</a></li>
                                <li><a class="dropdown-item" href="./permissao">Permissões</a></li>
                            </ul>
                        </li>
                    </ul>
                </section>
                <div class="d-flex justify-content-end align-items-center mb-3">
                    <a type="submit" class="btn botao" href="./login.html">ENTRAR</a>
                </div>
            </div>
        </nav>
    </header>
    <main class="bg-light">
        <div>
            <img class="banner" src="./img/Banner1.png" alt="">
        </div>
        <div class="container">
            <h2 class="fonte-titulo mt-5">Sobre nós</h2>
            <hr>
            O Edutech 3.0 é uma plataforma de conteúdos e tendências sobre inovações na área educacional. Nosso
            propósito é inserir a tecnologia na sala de aula para que ela se torne uma facilitadora no processo
            ensino-aprendizagem.
            <br>
            O foco do Edutech 3.0 são educadoras e educadores, equipes de secretarias de educação e de organizações da
            sociedade civil. As trilhas e os materiais foram selecionados e desenvolvidos em parceria com especialistas
            voluntários e da própria plataforma e são disponibilizados de forma gratuita.
            <br>
            O objetivo do nosso projeto é promover a ampliação da digitalização da educação no Brasil, sendo voltado
            para o desenvolvimento das competências digitais dos educadores do Ensino Infantil, Fundamental e Médio. E,
            portanto, facilitar a disseminação de técnicas e a difusão de conteúdo, promovendo a reflexão contínua sobre
            as práticas profissionais, favorecendo que elas sejam repensadas, aprimoradas e recriadas.
            <br>

            <!--lista de notícias-->
            <h2 class="fonte-titulo mt-5">Notícias</h2>
            <hr>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="https://minhabiblioteca.com.br/blog/tecnologia-na-educacao/">Os
                        desafios e os benefícios
                        da tecnologia na educação</a></li>
                <li class="list-group-item"><a
                        href="https://codebit.com.br/blog/tecnologia-educacao-vantagens-desafios">Tecnologia na
                        educação: o impacto, as vantagens e os desafios</a></li>
                <li class="list-group-item"><a
                        href="https://educacao.imaginie.com.br/o-papel-da-tecnologia-na-educacao/">Qual o papel da
                        tecnologia na educação e por que ela é tão importante nas escolas?</a></li>
                <li class="list-group-item"><a
                        href="https://minhabiblioteca.com.br/blog/professores-no-ensino-hibrido/">Novos conhecimentos
                        são requisitados para os professores no ensino híbrido</a></li>
                <li class="list-group-item"><a
                        href="https://educacaopublica.cecierj.edu.br/artigos/21/28/ensino-remoto-o-desafio-na-pratica-docente-frente-ao-contexto-da-pandemia">Ensino
                        remoto: o desafio na prática docente frente ao contexto da pandemia</a></li>
            </ul>
            <br>

            <!--lista de cursos-->
            <h2 class="fonte-titulo mt-5">Cursos</h2>
            <hr>
            <section class="row">
                <article class="col-sm-6 mb-4">
                    <div class="card border-color">
                        <div class="card-body">
                            <h5 class="card-title">Avaliação formativa: gamificação e autoavaliação</h5>
                            <p class="card-text">Este curso traz informações sobre a avaliação
                                diagnóstica para diferenciar a aprendizagem, o uso da rubrica e da autoavaliação, como
                                os recursos digitais, jogos, gamificação, agrupamentos produtivos e outras estratégias
                                para ajudar o professor a
                                mapear o desenvolvimento da turma e de cada aluno.</p>
                            <a href="https://profseducacao.com.br/curso/metodologias-ativas-avaliacao-formativa-gamificacao-e-autoavaliacao/"
                                target="_blank" class="btn botao">Inscreva-se!</a>
                        </div>
                    </div>
                </article>
                <article class="col-sm-6">
                    <div class="card border-color">
                        <div class="card-body">
                            <h5 class="card-title">Defasagem de aprendizagem nos anos finais do Ensino Fundamental:
                                (re)planejar para avançar</h5>
                            <p class="card-text">Neste curso serão vivenciados conceitos e aspectos centrais da
                                recomposição de aprendizagens nos anos finais do Ensino Fundamental considerando o
                                delicado e singular momento atual da educação. </p>
                            <a href="#" class="btn botao">Inscreva-se!</a>
                        </div>
                    </div>
                </article>
                <article class="col-sm-6">
                    <div class="card border-color">
                        <div class="card-body">
                            <h5 class="card-title">Por dentro da solução de Educação Financeira – Tindin</h5>
                            <p class="card-text">O curso tem por objetivo explicar a modalidade Educação Financeira e
                                abordar as principais características da solução Tindin presente na Plurall Store que se
                                encaixa nessa modalidade. Assim como trazer um tutorial de acesso do ponto de vista do
                                aluno, da família e do professor.</p>
                            <a href="https://profseducacao.com.br/curso/por-dentro-da-solucao-de-educacao-financeira-tindin/"
                                class="btn botao">Inscreva-se!</a>
                        </div>
                    </div>
                </article>
                <article class="col-sm-6">
                    <div class="card h-100 border-color">
                        <div class="card-body">
                            <h5 class="card-title">Mediação de leitura para juventudes</h5>
                            <p class="card-text">Neste curso você aprenderá como mediadores de leitura que interagem com
                                público jovem, em seus
                                múltiplos perfis, podem apresentar e reconhecer a leitura como elemento promotor de
                                cidadania e de reflexão sobre ser no mundo.</p>
                            <a href="https://polo.org.br/multiletramentos/formacao/92/mediacao-de-leitura-para-juventudes"
                                class="btn botao">Inscreva-se!</a>
                        </div>
                    </div>
                </article>
            </section>
            <br>

            <!-- card de apresentação -->
            <h2 class="fonte-titulo mt-5">Vídeos</h2>
            <hr>
            <section class="row row-cols-1 row-cols-md-3 g-4">
                <article class="col">
                    <div class="card h-100 border-color">
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/ifX7xXKxCD0"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                        <div class="card-body">
                            <h5 class="card-title">Educação e Tecnologia: Ontem, Hoje e Amanhã</h5>
                            <p class="card-text">A inclusão das novas formas de comunicação e o uso de dispositivos
                                eletrônicos aponta para um horizonte inevitável e em alguns casos já é preciso
                                ressignificar os processos de ensino e aprendizagem, sem perder a perspectiva da
                                importância da escola. </p>
                        </div>
                    </div>
                </article>
                <article class="col">
                    <div class="card h-100 border-color">
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/c1CCV1EYOX8"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                        <div class="card-body">
                            <h5 class="card-title">Educação Mediada por Tecnologias - Aplicativos e o processo educativo
                            </h5>
                            <p class="card-text">A professora Raquel Gitahy demonstra como os desenvolvimentos
                                tecnológicos alteraram diversas áreas da convivência humana e de forma substancial o
                                ambiente escolar.</p>
                        </div>
                    </div>
                </article>
                <article class="col">
                    <div class="card h-100 border-color">
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/b5TdZ_ox99A"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                        <div class="card-body">
                            <h5 class="card-title">O poder da tecnologia na educação: João Gabriel Alkmim at TEDxLacador
                            </h5>
                            <p class="card-text">Esta TED mostra a visão de um empreendedor de 19 anos de idade de como
                                a educação será no futuro, que criou uma empresa para entregar essas inovações a
                                instituições de ensino em todo o mundo. </p>
                        </div>
                    </div>
                </article>
            </section>
        </div>
    </main>
    <br>
    <footer class="bg-footer">
        <div class="container">
            <section class="row section-footer">
                <article class="col-sm d-flex justify-content-center">
                    <a class="navbar-brand" href="#"><img src="./img/img-footer.png" alt="Logomarca"></a>
                </article>
                <article class="col-sm section-footer-article">
                    <ul>
                        <h4>Capacitação</h4>
                        <li><a href="#">Cursos</a></li>
                        <li><a href="./infantil.html">Ensino Infantil</a></li>
                        <li><a href="./fund_I.html"> Ensino Fundamental I</a></li>
                        <li><a href="./fund_II.html">Ensino Fundamental II</a></li>
                        <li><a href="./medio.html">Ensino Médio</a></li>
                    </ul>
                </article>
                <article class="col-sm section-footer-article">
                    <ul>
                        <h4>Edutech 3.0</h4>
                        <li><a href="sobreNos.html">Sobre nós</a></li>
                        <li><a href="#">Instituições Parceiras</a></li>
                        <li><a href="#">Notícias</a></li>
                    </ul>
                </article>
                <article class="col-sm section-footer-article">
                    <ul>
                        <h4>Fale conosco</h4>
                        <li><a href="./cadastro.html">Cadastrar</a></li>
                        <li><a href="./contato.html">Contato</a></li>
                        <li><a href="./enviarMaterial.html">Compartilhe sua ideia</a></li>
                        <li>
                            <h4>Nossas redes sociais</h4>
                        </li>
                        <a href="#"><i class="bi bi-instagram" id="instagram"></i></a>
                        <a href="#"><i class="bi bi-facebook" id="facebook"></i></a>
                        <a href="#"><i class="bi bi-twitter" id="twitter"></i></a>
                        <a href="#"><i class="bi bi-youtube" id="youtube"></i></a>
                        <a href="#"><i class="bi bi-linkedin" id="linkedin"></i></a>
                    </ul>
                </article>
            </section>
            <hr>
            <div class="d-flex justify-content-center">
                <p id="fonte">&copy; Edutech 3.0 2022 - Todos os direitos reservados. Fotos meramente ilustrativas.</p>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="./js/script.js"></script>
</body>

</html>