<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ensino Infantil</title>
    <link rel="stylesheet" href="../css/reset.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <link rel="stylesheet" href="../css/style.css">
</head>

<!--Início Navbar-->

<body class="bg-light">
    <header>
        <nav class="navbar navbar-expand-lg fixed-top" style="background-color:#000080">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><img class="" src="../img/logo.png" alt="Logomarca"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon d-flex justify-content-center align-items-center"><i
                            class="bi bi-list"></i></span>
                </button>
                <section class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Trilhas de capacitação
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Infantil</a>
                                </li>
                                <li><a class="dropdown-item" href="./fundamentalI">Fundamental
                                        I</a></li>
                                <li><a class="dropdown-item" href="./fundamentalII">Fundamental
                                        II</a></li>
                                <li><a class="dropdown-item" href="./medio">Médio</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Edutech3.0
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="./sobre">Sobre nós</a>
                                </li>
                                <li><a class="dropdown-item" href="#">Instituições
                                        parceiras</a></li>
                                <li><a class="dropdown-item" href="https://www.gov.br/mec/pt-br">Notícias</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Fale conosco
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="./cadastro/cadastrar">Cadastre-se</a></li>
                                <li><a class="dropdown-item" href="./material/cadastrar">Compartilhe sua ideia</a>
                                </li>
                                <li><a class="dropdown-item" href="./contato/cadastrar">Contato</a></li>
                            </ul>
                        </li>
                    </ul>
                </section>
                <div class="d-flex justify-content-end align-items-center mb-3">
                    <a href="./login"> <button type="submit" class="btn botao">ENTRAR</button></a>
                </div>
            </div>
        </nav>
    </header>
    <!--Fim Navbar-->

    <!--Banner-->
    <div class="fade-in" style="background-color: #000080;">
        <a href="./infantil.html"><img class="banner-index" src="../img/infantil.jpeg" alt=""></a>
    </div>
    <!--Banner-->
    
        <div class="container">
            <hr>
            <p align="justify">A educação infantil tem um papel fundamental na formação e desenvolvimento da criança. É na primeira
                infância que a sociabilidade, afetividade e a aprendizagem começam a ser desenvolvidas.
                Nesse período, a escola deve promover diversas atividades que favoreçam a autonomia da criança, por meio
                de livros, histórias, contato com a natureza, descoberta do corpo e espaço.
                Por isso, nesta trilha são oferecidos algumas das melhores formas de inovar na educação infantil e,
                consequentemente, motivar os alunos nessa fase tão importante.
            </p>
            <h2 class="fonte-titulo mt-5">Trilha Infantil</h2>
            <hr>
            <!-- Accordion Trilhas-->
            <section class="accordion" id="accordionExample">
                <article class="accordion-item">
                    <h2 class="accordion-header" id="trilha1">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseUm" aria-expanded="false" aria-controls="collapseUm">
                            5 práticas inovadoras para a Educação Infantil
                        </button>
                    </h2>
                    <div id="collapseUm" class="accordion-collapse collapse" aria-labelledby="trilha1"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p align="justify">O contato com experiências realizadas por professores e coordenadores pedagógicos pode
                                ajudar não só a
                                inovar o repertório, mas também ampliar as percepções sobre diferentes materiais, formas
                                de
                                desenvolvimento e observação.
                            </p>
                            <div>
                                <a class="btn botao"
                                    href="https://ensino.digital/blog/5-praticas-inovadoras-para-a-educacao-infantil"
                                    target="_blank" role="button">Saber mais...</a>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="accordion-item">
                    <h2 class="accordion-header" id="trilha2">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseDois" aria-expanded="false" aria-controls="collapseDois">
                            5 ideias de para usar a tecnologia na educação infantil
                        </button>
                    </h2>
                    <div id="collapseDois" class="accordion-collapse collapse" aria-labelledby="trilha2"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p align="justify">A tecnologia já é presença comum no cotidiano das crianças. O uso de computadores e
                                dispositivos móveis começa cada vez mais cedo, seja para brincar, entreter ou comunicar.
                                Os alunos da atualidade fazem parte de uma geração conectada com o mundo digital. Nesse
                                contexto, a inserção de ferramentas tecnológicas no ambiente escolar potencializa o
                                processo de ensino-aprendizagem, assegurando práticas pedagógicas mais interativas,
                                dinâmicas e próximas da realidade dos alunos.
                            </p>
                            <div>
                                <a class="btn botao"
                                    href="https://www.somoseducacao.com.br/ideias-para-usar-a-tecnologia-na-educacao-infantil/"
                                    target="_blank" role="button">Saber mais...</a>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="accordion-item">
                    <h2 class="accordion-header" id="trilha3">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTres" aria-expanded="false" aria-controls="collapseTres">
                            5 dicas para aplicar nas suas aulas
                        </button>
                    </h2>
                    <div id="collapseTres" class="accordion-collapse collapse" aria-labelledby="trilha3"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p align="justify">Para deixar o dia a dia mais dinâmico e as crianças mais interessadas nas aulas, é sempre
                                bom inovar na hora de elaborar as atividades. Para isso, é sempre bom o profissional ter
                                acesso a dicas que ideias que possam servir de inspiração na Educação Infantil.
                                Para ajudar o docente neste desafio diário, separamos algumas dicas de brincadeiras e
                                interações que podem servir como inspiração na Educação Infantil. Confira e veja quais
                                mais se adéquam aos objetivos da sua próxima aula!
                            </p>
                            <div>
                                <a class="btn botao"
                                    href="https://www.plannetaeducacao.com.br/portal/habilidades-e-competencias/a/487/inspiracao-na-educacao-infantil-5-dicas-para-aplicar-nas-suas-aulas"
                                    target="_blank" role="button">Saber mais...</a>
                            </div>
                        </div>
                    </div>
                </article>
                <article class="accordion-item">
                    <h2 class="accordion-header" id="trilha4">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseQuatro" aria-expanded="false" aria-controls="collapseQuatro">
                            As práticas inovadoras e o uso das mídias
                        </button>
                    </h2>
                    <div id="collapseQuatro" class="accordion-collapse collapse" aria-labelledby="trilha4"
                        data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <p align="justify">Ao desenvolver este estudo, pretende-se promover a utilização e o intercâmbio de recursos
                                didáticos que facilitem a fixação de conteúdos por meio do uso de mídias educacionais,
                                assegurando ao aluno o direito de aprender, ligando teoria e prática e possibilitando
                                ações inovadoras no processo de ensino-aprendizagem como forma de estimular saberes
                                dialógicos entre docentes e alunos da Educação Infantil.
                            </p>
                            <div>
                                <a class="btn botao"
                                    href="https://educacaopublica.cecierj.edu.br/artigos/21/41/educacao-infantil-as-praticas-inovadoras-e-o-uso-das-midias-como-ferramenta-de-aprendizagem-no-municipio-de-ananindeuapa"
                                    target="_blank" role="button">Saber mais...</a>
                            </div>
                        </div>
                    </div>
                </article>
            </section>
            <!-- Accordion Trilhas-->   

            <!-- cards com vídeos de apresentação -->
            <h2 class="fonte-titulo mt-5">Métodos de ensino</h2>
            <hr>
            <section class="row row-cols-1 row-cols-md-3 g-4 mb-5">
                <article class="col">
                    <div class="card h-100 border-color">
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/QT1agpbOsJM"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                        <div class="card-body">
                            <h5 class="card-title">Dicas de como inovar no dia dia</h5>
                            <p class="card-text" align="justify">Neste vídeo você irá receber dicas de como inovar em sala de aula
                                através da
                                contação de histórias.</p>
                        </div>
                    </div>
                </article>
                <article class="col">
                    <div class="card h-100 border-color">
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/M6_q3q8LRSU"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                        <div class="card-body">
                            <h5 class="card-title">Inovar seu método de ensino para crianças</h5>
                            <p class="card-text" align="justify">Neste vídeo você vai descobrir formas inovadoras para melhorar sua
                                rotina
                                como professor infantil através da música.</p>
                        </div>
                    </div>
                </article>
                <article class="col">
                    <div class="card h-100 border-color">
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/CN8yDNLmzdM"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                        <div class="card-body">
                            <h5 class="card-title">Estratégias educacionais inovadoras para educação infantil e anos
                                inicias</h5>
                            <p class="card-text" align="justify">Neste vídeo você irá aprender estratégias educacionais inovadoras para
                                educação infantil através de um web talk.</p>
                        </div>
                    </div>
                </article>
            </section>
             <!-- cards com vídeos de apresentação -->
        </div>
    </main>
    <!--NEWSLETTER-->
    <hr>
    <div align="center">
        <h3>Assine nossa newsletter e receba um e-book <br>
            com vários jogos para você ultilizar na sala de aula.</h3>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6">
                <input type="text" class="form-control" placeholder="Digite seu nome" aria-label="Digite seu nome">
            </div>
            <div class="col-6">
                <input type="email" class="form-control" placeholder="Seu email" aria-label="Digite seu email">
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Assinar</button>
            </div>
        </div>
    </div>
    <div>
        <div align="center" font="arial" size="2">
            <p>*Concordo em receber ofertas e compartilhar meus dados com a EDUTECH 3.0</p>
        </div>
    </div>
    <hr>
    <!--NEWSLETTER-->

    <!--Início Footer-->
    <footer class="bg-footer">
        <div class="container">
            <section class="row section-footer">
                <article class="col-sm d-flex justify-content-center">
                    <a class="navbar-brand" href="#"><img src="../img/img-footer.png" alt="Logomarca"></a>
                </article>
                <article class="col-sm section-footer-article">
                    <ul>
                        <h4>Capacitação</h4>
                        <li><a href="#">Cursos</a></li>
                        <li><a href="./infantil.html">Ensino Infantil</a></li>
                        <li><a href="./fund_I.html"> Ensino Fundamental I</a></li>
                        <li><a href="./fund_II.html">Ensino Fundamental II</a></li>
                        <li><a href="./medio.html">Ensino Médio</a></li>
                    </ul>
                </article>
                <article class="col-sm section-footer-article">
                    <ul>
                        <h4>Edutech 3.0</h4>
                        <li><a href="./sobreNos.html">Sobre nós</a></li>
                        <li><a href="./contato.html">Instituições Parceiras</a></li>
                        <li><a href="https://www.gov.br/mec/pt-br">Notícias</a></li>
                    </ul>
                </article>
                <article class="col-sm section-footer-article">
                    <ul>
                        <h4>Fale conosco</h4>
                        <li><a href="./cadastro.html">Cadastre-se</a></li>
                        <li><a href="./contato.html">Contato</a></li>
                        <li><a href="./enviarMaterial.html">Compartilhe sua ideia</a></li>
                        <li>
                            <h4>Nossas redes sociais</h4>
                        </li>
                        <a href="#"><i class="bi bi-instagram" id="instagram"></i></a>
                        <a href="#"><i class="bi bi-facebook" id="facebook"></i></a>
                        <a href="#"><i class="bi bi-twitter" id="twitter"></i></a>
                        <a href="#"><i class="bi bi-youtube" id="youtube"></i></a>
                        <a href="#"><i class="bi bi-linkedin" id="linkedin"></i></a>
                    </ul>
                </article>
            </section>
            <hr>
            <div class="d-flex justify-content-center">
                <p id="fonte">&copy; Edutech 3.0 2022 - Todos os direitos reservados. Fotos meramente ilustrativas.</p>
            </div>
        </div>
    </footer>
    <!--Fim Footer-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <script src="./script.js"></script>
</body>

</html>