<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar</title>
    <link rel="stylesheet" href="../css/reset.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <link rel="stylesheet" href="../css/style.css">
</head>


<!--Início Navbar-->
<body class="bg-light">
    <header>
        <nav class="navbar navbar-expand-lg fixed-top" style="background-color:#000080">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><img class="" src="../img/logo.png"
                        alt="Logomarca"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon d-flex justify-content-center align-items-center"><i
                            class="bi bi-list"></i></span>
                </button>
                <section class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Trilhas de capacitação
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="./infantil.html">Infantil</a>
                                </li>
                                <li><a class="dropdown-item" href="./fund_I.html">Fundamental
                                        I</a></li>
                                <li><a class="dropdown-item" href="./fund_II.html">Fundamental
                                        II</a></li>
                                <li><a class="dropdown-item" href="./medio.html">Médio</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Edutech3.0
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="./sobreNos.html">Sobre nós</a>
                                </li>
                                <li><a class="dropdown-item" href="./contato.html">Instituições
                                        parceiras</a></li>
                                <li><a class="dropdown-item" href="https://www.gov.br/mec/pt-br">Notícias</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Fale conosco
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="./login.html">Login</a></li>
                                <li><a class="dropdown-item" href="./enviarMaterial.html">Compartilhe sua ideia</a>
                                </li>
                                <li><a class="dropdown-item" href="./contato.html">Contato</a></li>
                            </ul>
                        </li>
                    </ul>
                </section>
                <div class="d-flex justify-content-end align-items-center mb-3">
                   <a href="./login.html"> <button type="submit" class="btn botao">ENTRAR</button></a>
                </div>
            </div>
        </nav>
    </header>
    <br>
    <br>
    <br>
    <br>
    
    <!--Fim Navbar-->
<!--Cadastro-->
<body class="bg-light">
    <header>

    </header>
    <main class="bg-light">
        <div class="container">
            <section class="row caixa">
                <article class="col-md-4 d-flex justify-content-center align-items-center bg-footer">
                    <a class="navbar-brand" href="/"><img src="../img/img-footer.png" alt="Logomarca"></a>
                </article>
                <article class="col-md-8 caixa-conta">
                    <div class="d-flex justify-content-center">
                        <h1 class="fonte-titulo mt-5">Entre em sua conta</h1>
                    </div>
                    <!-- form -->
                    <form class="row mt-3 d-flex justify-content-around">
                        <div class="col-12 mb-3">
                            <label for="emailLogin" class="form-label">E-mail</label>
                            <input type="email" class="form-control" id="emailLogin" aria-describedby="emailHelpId">
                        </div>
                        <div class="col-12 mb-3">
                            <label for="senhaLogin" class="form-label">Senha</label>
                            <input type="password" class="form-control" id="senhaLogin">
                        </div>
                        <div class="row">
                            <div class="col mb-3 form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Manter conectado</label>
                            </div>
                            <div class="col d-flex justify-content-end pe-0">
                                <a href="">Esqueceu a senha?</a>
                            </div>
                            
                        <div class="d-flex justify-content-center mb-3">
                            <button type="submit" class="btn botao ">ENTRAR</button>
                        </div>
                        <div class="col-12 d-flex justify-content-center">
                            <p>Não tem conta? <a href="./cadastro/cadastrar">Crie sua conta aqui</a></p>
                        </div>
                    </form>
                </article>
            </section>
        </div>
    </main>
    <!--Cadastro-->
   <!--NEWSLETTER-->
   <hr>
   <div align="center">
       <h3>Assine nossa newsletter e receba um e-book <br>
           com vários jogos para você ultilizar na sala de aula.</h3>
   </div>
   <div class="container">
       <div class="row">
           <div class="col-6">
               <input type="text" class="form-control" placeholder="Digite seu nome" aria-label="Digite seu nome">
           </div>
           <div class="col-6">
               <input type="email" class="form-control" placeholder="Seu email" aria-label="Digite seu email">
           </div>
           <div class="col-12">
               <button type="submit" class="btn btn-primary">Assinar</button>
           </div>
       </div>
   </div>
   <div>
       <div align="center" font="arial" size="2">
           <p>*Concordo em receber ofertas e compartilhar meus dados com a EDUTECH 3.0</p>
       </div>
   </div>
   <hr>
   <!--NEWSLETTER-->

   <!--Início Footer-->
   <footer class="bg-footer">
       <div class="container">
           <section class="row section-footer">
               <article class="col-sm d-flex justify-content-center">
                   <a class="navbar-brand" href="#"><img src="../img/img-footer.png" alt="Logomarca"></a>
               </article>
               <article class="col-sm section-footer-article">
                   <ul>
                       <h4>Capacitação</h4>
                       <li><a href="#">Cursos</a></li>
                       <li><a href="./infantil.html">Ensino Infantil</a></li>
                       <li><a href="./fund_I.html"> Ensino Fundamental I</a></li>
                       <li><a href="./fund_II.html">Ensino Fundamental II</a></li>
                       <li><a href="./medio.html">Ensino Médio</a></li>
                   </ul>
               </article>
               <article class="col-sm section-footer-article">
                   <ul>
                       <h4>Edutech 3.0</h4>
                       <li><a href="./sobreNos.html">Sobre nós</a></li>
                       <li><a href="./contato.html">Instituições Parceiras</a></li>
                       <li><a href="https://www.gov.br/mec/pt-br">Notícias</a></li>
                   </ul>
               </article>
               <article class="col-sm section-footer-article">
                   <ul>
                       <h4>Fale conosco</h4>
                       <li><a href="./cadastro.html">Cadastre-se</a></li>
                       <li><a href="./contato.html">Contato</a></li>
                       <li><a href="./enviarMaterial.html">Compartilhe sua ideia</a></li>
                       <li>
                           <h4>Nossas redes sociais</h4>
                       </li>
                       <a href="#"><i class="bi bi-instagram" id="instagram"></i></a>
                       <a href="#"><i class="bi bi-facebook" id="facebook"></i></a>
                       <a href="#"><i class="bi bi-twitter" id="twitter"></i></a>
                       <a href="#"><i class="bi bi-youtube" id="youtube"></i></a>
                       <a href="#"><i class="bi bi-linkedin" id="linkedin"></i></a>
                   </ul>
               </article>
           </section>
           <hr>
           <div class="d-flex justify-content-center">
               <p id="fonte">&copy; Edutech 3.0 2022 - Todos os direitos reservados. Fotos meramente ilustrativas.</p>
           </div>
       </div>
   </footer>
   <!--Fim Footer-->



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>